* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #212529; /* nền đen */
    width: 100%;
}

    nav div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
    }

        nav div a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0.5rem 1rem;
            transition: all 0.3s ease-in-out;
        }

            nav div a:hover {
                color: #ffc107;
            }
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* nền xám nhạt */
}
}