USE [master]
GO
/****** Object:  Database [NKK2410900045]    Script Date: 26/09/2026 11:14:23 SA ******/
CREATE DATABASE [NKK2410900045]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NKK2410900045', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NKK2410900045.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NKK2410900045_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NKK2410900045_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NKK2410900045].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NKK2410900045]
GO
/****** Object:  Table [dbo].[NKKEmployee]    Script Date: 26/09/2026 11:14:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NKKEmployee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NKKName] [nvarchar](100) NOT NULL,
	[NKKGender] [nvarchar](10) NULL,
	[NKKBirthDay] [date] NULL,
	[NKKEmail] [varchar](100) NULL,
	[NKKPhone] [varchar](15) NULL,
	[NKKActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NKKEmployee] ON 

INSERT [dbo].[NKKEmployee] ([Id], [NKKName], [NKKGender], [NKKBirthDay], [NKKEmail], [NKKPhone], [NKKActive]) VALUES (1, N'kien', N'a', CAST(N'2026-09-12' AS Date), N'kien@gmail.com', N'2', 0)
INSERT [dbo].[NKKEmployee] ([Id], [NKKName], [NKKGender], [NKKBirthDay], [NKKEmail], [NKKPhone], [NKKActive]) VALUES (3, N'kien', N'a', CAST(N'2026-09-12' AS Date), N'kien@gmail.com', N'1', 1)
SET IDENTITY_INSERT [dbo].[NKKEmployee] OFF
GO
USE [master]
GO
